<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" asp-href-include="~/lib/bootstrap/dist/css/*.min.css" asp-href-exclude="~/lib/bootstrap/dist/css/*grid*.css, ~/lib/bootstrap/dist/css/*reboot*.css" />
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
	<script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
	<title>@ViewBag.Title</title>
</head>
<body>	
	<div class="row m-1 p-1">	
		@RenderBody()
	</div>
	@RenderSection("Scripts", false)
</body>
</html>
