@model Coin

<div class="modal-content">
	<div class="modal-header">
		<h4>@ViewData["Title"]</h4>
		<button class="close" data-dismiss="modal" area-hidden="true">X</button>
	</div>
	<div class="modal-body">
		<form asp-action="EditCoin" method="post">
			<input type="hidden" asp-for="CoinID" />
			<div class="form-group">
				<div><span asp-validation-for="Count" class="text-danger"></span></div>
				<label asp-for="Count"></label>
				<input asp-for="Count" class="form-control" />
			</div>
			<div class="form-check">
				<div><span asp-validation-for="IsAvailable" class="text-danger"></span></div>
				<input asp-for="IsAvailable" />
				<label asp-for="IsAvailable"></label>
			</div>
			<div class="text-center">
				<button class="btn btn-primary" type="submit">Сохранить</button>
				<a asp-action="Index" class="btn btn-secondary">Отмена</a>
			</div>
		</form>
	</div>
</div>

